html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header { grid-area: header; }
.ménu { grid-area: ménu; }
.infoBox1 { grid-area: infoBox1; }
.infoBox2 { grid-area: infoBox2; }
.infoBox3 { grid-area: infoBox3; }
.infoBox4 { grid-area: infoBox4; }
.main { grid-area: main; }
.game { grid-area: game; }
.footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'header   header   header   header'
        'ménu     ménu     ménu     ménu'
        'infoBox1 infoBox2 infoBox3 infoBox4'
        'main     main     main     main'
        'game     game     game     game'
        'footer   footer   footer   footer';
}

.grid-container > div { /* Alle barna til div-containeren av typen div */
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
}

.header {
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.ménu {
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: aqua;
}

.ménu > p {
    margin: 0;
}

.ménu > img {
    float: right;
    width: 43px;
    margin: 0;
    margin-top: -30px;
}

.infoBoxHolder {
    background-color:darkgray;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 70px;
    display: flex;
    justify-content: space-around;
}

.infoBox1 {
    background-color: lightgray;
    padding: 10px;
    margin-right: -50px;
    border-radius: 25px;
    text-align: center;
}

.infoBoxHolder > div > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    width: 150px;
    margin-bottom: 5px;
}

.infoBox2 {
    background-color: lightgray;
    padding: 10px;
    margin-left: -50px;
    margin-right: -50px;
    border-radius: 25px;
    text-align: center;
}

.infoBox3 {
    background-color: lightgray;
    padding: 10px;
    margin-left: -50px;
    margin-right: -50px;
    border-radius: 25px;
    text-align: center;
}

.infoBox4 {
    background-color: lightgray;
    padding: 10px;
    margin-left: -50px;
    border-radius: 25px;
    text-align: center;
}

.infoBox4 > img {
    border-radius: 25px;
}

/* .main {

} */

.mainText {
    margin-right: 150px;
    margin-left: 150px;
}

canvas {
    margin: 100px;
}

.gameContainer {
    background-color: darkgray;
    border-radius: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 75px;
    margin-right: 75px;
}

.game {
    background-image: url(Bilder/avocado-2351191_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 70px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 225px;
    text-align: center;
}

.footer {
    background-color:darkgray;
    text-align: center;
}