html, body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.66);
    color: rgb(240, 240, 240);
}

.header { grid-area: header; }
.ménu { grid-area: ménu; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto  auto 1fr auto;
    grid-template-areas:
        'header header  header  header  header'
        'ménu   ménu    ménu    ménu    ménu'
        'main   main    main    main    main'
        'footer footer  footer  footer  footer';
    /*gap: 10px;
    background-color: #2196F3;
    padding: 10px;*/
}

.grid-container > div { /* Alle barna til div-containeren av typen div */
    font-size: 1.5rem;
    /* padding: 1rem; */
    padding: 1rem 1rem 1rem 0rem;
}

.header {
    background-image: url(united-kingdom-2702679_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: black;
    text-align: center;

    /* Bruker flexbox for å plassere bildet/logoen og teksten i midten av headeren */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ménu {
    background-color: rgba(0, 0, 0, 0.83);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

/* Menyen sitt design */
nav ul{
    list-style:none;
    padding:0;
    margin:0;
    display: flex;
}

nav ul li a{
    text-decoration: none;
    color:rgb(240, 240, 240);
    padding:1.05rem;
    display: block;
    border-right: 1px solid white;
    display: inline;
}
/* extended box when hover problem */
nav ul li a:hover{
    padding: 1.3rem;
}

nav ul li a:hover:not(.active){
    background-color: rgb(47, 47, 47);
}

.active {
    background-color: rgb(60, 60, 60);
    color: rgb(240, 240, 240);
}

.main {
    margin-left: 5%;
    margin-right: 5%;
}

.main > p > a {
    color: chartreuse;
}

.footer {
    background: black;
    color: rgb(240, 240, 240);
    text-align: center;
}
