html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    text-align: center;
}

Img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30%;
}

#plank {
    z-index: 1;
    top: 32%;
    width: 35%;
}

#stripOfWood {
    z-index: 1;
    top: 65%;
    width: 35%;
}

#board {
    z-index: 1;
    top: 47%;
    width: 35%;
}

#divCrowbar {
    position: absolute;
    z-index: 2;
    width: 35%;
    top: 100%;
}

#mainCrowbar {
    cursor: move;
    z-index: 3;
}

/* #crowbarUse {
    top: 100%;
    left: 10%;
    width: 10%;
} */